<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57303632-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-57303632-10');
    </script>

    <!-- Google AdSense -->
    <!-- 自動で広告の配置とかをしてくれるとか -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7793625773402990",
            enable_page_level_ads: true
        });
    </script>

    <link rel="stylesheet" href="onsenui/onsenui.css">
    <link rel="stylesheet" href="onsenui/onsen-css-components.css">

    <script src="vue/vue.js"></script>
    <script src="vue/vuex.js"></script>
    <script src="onsenui/onsenui.js"></script>
    <script src="onsenui/vue-onsenui.js"></script>

    <!-- 自作ファイル -->
    <link rel="stylesheet" href="index.css">
</head>

<body>
<template id="main">
    <v-ons-navigator
            swipeable
            :page-stack="pageStack"
            @push-page="pageStack.push($event)"
    ></v-ons-navigator>
</template>

<!-- 抽選条件を入力するページ -->
<template id="main_page">
    <v-ons-page>
        <v-ons-toolbar>
            <div class="center">グループ分け</div>
        </v-ons-toolbar>

        <v-ons-list>
            <v-ons-list-title>参加人数</v-ons-list-title>
            <v-ons-list-item>
                <div class="left">
                    <v-ons-button modifier="cta" style="margin: 6px 0" @click="p_num_decrement">ー</v-ons-button>
                </div>
                <div class="center">
                    <v-ons-input placeholder="参加人数" float v-model="player_num" type="number" min="1">
                    </v-ons-input>
                </div>
                <div class="right">
                    <v-ons-button modifier="cta" style="margin: 6px 0" @click="p_num_increment">＋</v-ons-button>
                </div>
            </v-ons-list-item>
            <v-ons-list-title>1グループの人数</v-ons-list-title>
            <v-ons-list-item>
                <div class="left">
                    <v-ons-button modifier="cta" style="margin: 6px 0" @click="m_num_decrement">ー</v-ons-button>
                </div>
                <div class="center">
                    <v-ons-input placeholder="1グループの人数" float v-model="member_num" type="number" min="1">
                    </v-ons-input>
                </div>
                <div class="right">
                    <v-ons-button modifier="cta" style="margin: 6px 0" @click="m_num_increment">＋</v-ons-button>
                </div>
            </v-ons-list-item>
            <v-ons-list-title>グループ数</v-ons-list-title>
            <v-ons-list-item>
                <div class="left">
                    <v-ons-button modifier="cta" style="margin: 6px 0" @click="t_num_decrement">ー</v-ons-button>
                </div>
                <div>
                    <v-ons-input placeholder="グループの数" float v-model="team_num" type="number" min="1"></v-ons-input>
                </div>
                <div class="right">
                    <v-ons-button modifier="cta" style="margin: 6px 0" @click="t_num_increment">＋</v-ons-button>
                </div>
            </v-ons-list-item>
        </v-ons-list>

        <v-ons-list>
            <v-ons-list-header>抽選条件</v-ons-list-header>
            <v-ons-list-item>
                <div class="right">はずれ {{ player_num - (member_num * team_num) || 0 }}人</div>
            </v-ons-list-item>
        </v-ons-list>


        <p style="text-align: center">
            <v-ons-button @click="lottery_button">
                抽選開始
            </v-ons-button>
        </p>
    </v-ons-page>
</template>

<!-- 抽選を行うページ -->
<template id="lottery">
    <v-ons-page @show="make_lots">
        <v-ons-toolbar>
            <div class="left">
                <v-ons-back-button>Top</v-ons-back-button>
            </div>
            <div class="center">抽選</div>
        </v-ons-toolbar>
        <div id="lots_button_box">
            <v-ons-button id="lots_button" @click="take_lots">抽選</v-ons-button>
        </div>
        <div id="lots_win_button_box">
            <v-ons-button id="lots_win_button" modifier="outline" @click="take_win_lots">絶対当たる</v-ons-button>
        </div>
        <div>
            <v-ons-list>
                <!--
                <v-ons-list-item>参加人数 : {{ player_num }}</v-ons-list-item>
                <v-ons-list-item>1チームの人数 : {{ member_num }}</v-ons-list-item>
                -->
                <v-ons-list-item>残り{{ lottery_list.length }}</v-ons-list-item>
            </v-ons-list>
        </div>

        <v-ons-dialog
                cancelable
                :visible.sync="lottery_dialog_visible"
        >
            <p>あなたは {{ your_num }} 番です。</p>
        </v-ons-dialog>

    </v-ons-page>
</template>

<div id="app"></div>

<script src="tools.js"></script>

<script>
    const store = new Vuex.Store({
        strict: false, // 非厳格モード
        state: {
            // player_num: 1,
            // member_num: 1,
            // team_num: 1
            player_num: 5,
            member_num: 2,
            team_num: 1
        },
        mutations: {
            p_num_increment(){
                this.state.player_num++;
                this.state.team_num = Math.floor(this.state.player_num / this.state.member_num);
            },
            p_num_decrement(){
                if (this.state.player_num > 1) { // プレイヤー数が0を下回らないようにするk
                    this.state.player_num--;
                    if (this.state.player_num < this.state.member_num) // プレイヤー数がメンバー数を下回らないようにする。
                        this.state.member_num--;
                    this.state.team_num = Math.floor(this.state.player_num / this.state.member_num);    // チーム数を更新
                }
            },
            m_num_increment(){
                if (this.state.member_num < this.state.player_num) {
                    this.state.member_num++;
                    this.state.team_num = Math.floor(this.state.player_num / this.state.member_num);
                }
            },
            m_num_decrement(){
                if (this.state.member_num > 1) {
                    this.state.member_num--;
                    this.state.team_num = Math.floor(this.state.player_num / this.state.member_num);
                }
            },
            t_num_increment() {
                if (Math.floor(this.state.player_num / this.state.member_num) > this.state.team_num) {
                    this.state.team_num++;
                }
            },
            t_num_decrement(){
                if (this.state.team_num > 1) {
                    this.state.team_num--;
                }
            },
            p_num_setter(state, message){
                state.player_num = message;
                this.state.team_num = Math.floor(this.state.player_num / this.state.member_num);
            },
            m_num_setter(state, message){
                state.member_num = message;
                this.state.team_num = Math.floor(this.state.player_num / this.state.member_num);
            },
            t_num_setter(state, message){
                state.team_num = message;
            }
        },
        getters: {
            player_num(state) { return state.player_num },
            member_num(state) { return state.member_num },
            team_num(state) { return state.team_num }
        }

    })

    const lottery = {
        key: 'lottery',
        template: '#lottery',
        computed: {
            player_num: {
                get: function () { return store.getters.player_num },
                set: function (val) { store.commit('p_num_setter', val) }
            },
            member_num: {
                get: function () { return store.getters.member_num},
                set: function (val) { store.commit('m_num_setter', val) }
            },
            team_num: {
                get: function () { return store.getters.team_num},
                set: function (val) { store.commit('t_num_setter', val) }
            }
        },
        data() {
            return {
                fail_num: 0,
                your_num: 0,
                lottery_dialog_visible: false,
                lottery_list: []
            };
        },
        methods: {
            make_lots() {
                this.lottery_list = make_lottery(store.state.player_num, store.state.member_num, store.state.team_num);
                console.log(this.lottery_list);
                console.log(this.lottery_list.length);
                this.fail_num = store.state.player_num - (store.state.team_num * store.state.member_num)
            },
            take_lots() {
                if ( end_lot_check(this, this.lottery_list) )
                    return;

                var ret_arr = cast_lots(this.lottery_list);  // 抽選関数

                this.your_num = ret_arr[0];      // 当選番号
                this.lottery_list = ret_arr[1];  // 関数に配列を渡して変更しても、参照もとの配列は変更されないみたいなので、こいうった実装にした。

                if (this.your_num == 0) {
                    this.fail_num--;
                }
                result_alert(this, this.your_num);

            },
            take_win_lots() {
                if ( end_lot_check(this, this.lottery_list)) {
                    this.$ons.notification.alert("全ての抽選は終了しています。", {cancelable: true});
                    return;
                }
                if (this.lottery_list.length - this.fail_num >= 1) {
                    var ret_arr = cast_win_lots(this.lottery_list);
                    this.your_num = ret_arr[0];
                    this.lottery_list = ret_arr[1];
                    result_alert(this, this.your_num);
                } else {
                    this.$ons.notification.alert('"あたり"はもうありません。', {cancelable: true});
                }
            }
        }
    };

    const main_page = {
        key: 'main_page',
        template: '#main_page',
        computed: {
            player_num: {
                get: function () { return store.getters.player_num },
                set: function (val) { store.commit('p_num_setter', val) }
            },
            member_num: {
                get: function () { return store.getters.member_num},
                set: function (val) { store.commit('m_num_setter', val) }
            },
            team_num: {
                get: function () { return store.getters.team_num},
                set: function (val) { store.commit('t_num_setter', val) }
            }
        },
        methods: {
            lottery_button() {
                this.$emit('push-page', {
                    extends: lottery
                });
            },
            p_num_increment() {
                store.commit('p_num_increment')
            },
            p_num_decrement() {
                store.commit('p_num_decrement')
            },
            m_num_increment() {
                store.commit('m_num_increment')
            },
            m_num_decrement() {
                store.commit('m_num_decrement')
            },
            t_num_increment() {
                store.commit('t_num_increment')
            },
            t_num_decrement() {
                store.commit('t_num_decrement')
            },
            p_num_setter(e) {
                store.commit('p_num_setter', e.target.value)
            },
            m_num_setter(e) {
                store.commit('m_num_setter', e.target.value)
            },
            t_num_setter(e) {
                store.commit('t_num_setter', e.target.value)
            }
        }
    };

    new Vue({
        el: '#app',
        template: '#main',
        data() {
            return {
                pageStack: [main_page],
            };
        }
    });


    // 結果を表示するアラートについて。(果たしてここに書くのは正しいのか…?)
    function result_alert(page, result) {
        var css_txt = "";
        // cssのセレクタを出た番号によって分ける。7番以降は共通に扱う。
        switch (result){
            case 1:
                css_txt = "lot_1_result";
                break;
            case 2:
                css_txt = "lot_2_result";
                break;
            case 3:
                css_txt = "lot_3_result";
                break;
            case 4:
                css_txt = "lot_4_result";
                break;
            case 5:
                css_txt = "lot_5_result";
                break;
            case 6:
                css_txt = "lot_6_result";
                break;
            default:
                css_txt = "lot_common_result";
                break;
        }
        if (result != 0){
            page.$ons.notification.alert('あなたは <span id="lot_win_result"><span id="'+css_txt+'">' + result + '</span></span> 番です。', {cancelable: true, title:"抽選結果"});
        } else {
            page.$ons.notification.alert('あなたは' + '<span id="lot_fail_result">はずれ</span>' + 'です。', {cancelable: true, title:"抽選結果"});
        }
    }

    // 抽選が終了しているかを調べて、終了していたらalertを出す関数。
    // alertの箇所をまとめて書きたいから作った。
    function end_lot_check(page, lottery_list) {
        if (lottery_list.length <= 0) {
            page.$ons.notification.alert("全ての抽選は終了しています。", {cancelable: true, title: "抽選終了"});
            return true; // 終了していたら "true"
        }
        return false;    // 終了していなかったら "false"
    }
</script>
</body>
</html>